@import "tailwindcss";
@keyframes marqueeScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    /* 50% ga suramiz, chunki bizda 2 ta bir xil to'plam bor */
    transform: translateX(-50%);
  }
}

.animate-marquee {
  /* 20s - tezlik. Agar tezroq aylansin desang, 10s qil */
  animation: marqueeScroll 25s linear infinite;
}

/* Sichqonchani ustiga olib borganda to'xtashi uchun (ixtiyoriy) */
.animate-marquee:hover {
  animation-play-state: paused;
  cursor: pointer;
}